<h1>動画投稿</h1>

<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "動画ファイルを指定してください" %><br />
    <%= f.file_field "upfile", {:size => 50} %>
  </div>
  <div class="field">
    <%= f.label :movie_title %>(10~100文字以内にしてください)<br>
    <%= f.text_field :movie_title, {:size => 100} %>
  </div>
  <div class="field">
    <%= f.label :contributor_comment %>(空欄でもかまいません)<br>
    <%= f.text_area :contributor_comment, {:size => "70x10"} %>
  </div>
  <div class="actions">
    (アップロードには50MBで10分以上かかることがあります)
    <%= f.submit '動画ファイルアップロード', :disable_with=>'アップロード処理中...' %>
  </div>
<% end %>



<%= link_to 'Back', movies_path %>
