<%= javascript_include_tag 'application' %>
<h1>動画タグ編集</h1>

<hr>
<%= render :partial => 'movies/movieslist', :locals => {:movies => [@movie], :turnning => false} %>


<%= form_tag({:controller => "movies", :action => "tag_update"}, {:id => "tag_edit_form", :method => :patch, :ajax_path => tag_edit_movie_path(@movie)}) do %>

    <h2>新規のタグを追加</h2>
        Tags (複数のタグはスペースで区切ること)
        <%= text_field_tag :tag_list, '', :id=>'search_tag_word' %>


    <h2>他の動画のタグからの推奨タグ検索</h2>
    <div id='ajax_tag_update'>
    <%= render(:partial => 'movies/tag_edit_tag_group_box', :locals => {:tags_grouping => @recommended_tags, :check_true_false => false}) %>
    </div>


    <h2>すでに付けられているタグ</h2>
    <div id='ajax_already_attached_tag'>
    <%= render(:partial => 'movies/tag_edit_tag_group_box', :locals => {:tags_grouping => @tags_already_checked, :check_true_false => true}) %>
    </div>


    <br>
    <%= submit_tag 'タグ編集', data: { disable_with: 'タグ編集処理中...' } %>

<% end %>



<%= link_to 'Back', movie_path(@movie) %>
